body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8e7e4;
   
  }
  .header-container img {
    width: -webkit-fill-available;
    margin-left: 0%;
  }
  
  /* Header */
  .header-container {
    background-color: #ff6a06;
    color: white;
    text-align: center;
  
  }
  .top-right{
    position: absolute;
    top: 0;
    right: 0;
    background-color: orangered;
    padding: 10px;
    box-shadow: 0 5px 5px gray;
  }
  .top-right a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-variant: small-caps;
    margin-left: 20px;
  }
  .top-right > a:hover{
    text-decoration: underline;
  }
  h1 {
    margin: 0;
  }
  
  /* Navigation */
  nav {
    background-color: #ff6b08;
    padding: 10px;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .nav-links li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  /* Dropdown Menu */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 130px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    right: -60%;
  }
  
  .dropdown-content li {
    display: block;
    text-align: left;
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    font-weight: normal;
  }
  .dropdown-content a:hover{
    text-decoration:underline;
    color: #ff6b08;
  }
  /* Show Dropdown on Hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .content-wrapper {
    display: flex;
    margin: 10px;
  }
  article {
    padding: 0px;
    margin-right: 0px;
    width: calc(60% - 45px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .LH h1{
    text-align: center;
    margin-left: 140px;
  }
  .LH h2, p{
    margin-left: 100px;
  }
  .LH form{
    margin-left: 100px;
  }
  .LH input{
    background-color: #f8ad52;
    width: 700px;
    height: 30px;
  }
  .LH input:focus{
    background-color: #ffffff;
  }
  .LH button{
    width: 100px;
    height: 40px;
  }
  .LH button:hover{
    background-color: rgb(71, 156, 254);
    text-decoration: underline;
  }
  .LH textarea{
    background-color: #f8ad52;
    width: 700px;
    height: 100px;
  }
  .LH textarea:focus{
    background-color: #ffffff;
  }
  aside {
    padding: 10px;
    width: calc(45% - 10px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);  
  }
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

footer h1 {
  color: #ff6600;
}
/* Phần thông tin liên hệ */
.tt {
  text-align: left;
  color: #ff6b08;
  margin-left: 100px;
  padding-top: 0px;
}

.tt p {
  margin-bottom: 5px;
}

/* Footer content */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content p{
margin-left: 50px;

}

.social-links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}
.social-links img{
margin:15px
}

.social-links a:hover {
  color: #ff6600; /* Thêm hiệu ứng hover cho liên kết */
}

.social-links a:hover {
text-decoration: underline;
}